<h1>Adding staff with reactive form</h1>
<div *ngIf="!isUpdateFormActive">
<form [formGroup]="addForm">
  <div>
    <h2>Staff Name: </h2>
    <input formControlName="name" type="text" placeholder="please Staff name enter...">
</div>
<div>
  <h2>Department: </h2>
  <select formControlName="profession">
    <option>accounting</option>
    <option>software</option>
    <option>design</option>
  </select>
</div>
<div>
  <h2>Date of start: </h2>
  <input formControlName="dateOfStart" type="date">
</div>
<button (click)="save()" [disabled]="!addForm.valid">Save</button>
</form>
</div>

<div *ngIf="isUpdateFormActive">
  <form [formGroup]="updateForm">
    <div>
      <h2>Staff Name: </h2>
      <input formControlName="name" type="text" placeholder="please Staff name enter...">
  </div>
  <div>
    <h2>Department: </h2>
    <select formControlName="profession">
      <option>accounting</option>
      <option>software</option>
      <option>design</option>
    </select>
  </div>
  <div>
    <h2>Date of start: </h2>
    <input formControlName="dateOfStart" type="date">
  </div>
  <button (click)="update()" [disabled]="!updateForm.valid">Save</button>
  <button (click)="cancel()">Cancel</button>
  </form>
</div>


<hr>
<table>
  <thead>
    <th>#</th>
    <th>Staff Name</th>
    <th>Department</th>
    <th>Date of start</th>
    <th>Transactions</th>
  </thead>
  <tbody>
    <tr *ngFor="let e of employess let index = index">
      <td>{{index + 1}}</td>
      <td>{{e.name}}</td>
      <td>{{e.profession}}</td>
      <td>{{e.dateOfStart | date:'dd.MM.yyyy'}}</td>
      <td><button (click)="get(e,index)">update</button></td>
    </tr>
  </tbody>
</table>